<footer class="w-[1000px] mx-auto mb-4 mt-8">
    Crafted with ❤️ by <a href="https://shivank.writeroo.in/" class="text-rose-500">Shivank Kacker</a> for Pupilfirst's <a href="https://www.pupilfirst.school/courses/1804/curriculum" class="text-rose-500">wd201 node.js capstone</a>
</footer>