<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<% if (typeof csrfToken != "undefined"){ %>
    <meta name="csrf-token" content="<%= csrfToken %>" />
<% } %>
<title><% if (typeof title != "undefined"){ %><%= title %> - Opinion8<% }else{ %> Opinion8 <% } %></title>
<!--<link rel="stylesheet" href="/css/styles.css" />-->
<script src="https://cdn.tailwindcss.com"></script>
<script src="https://www.writeroo.in/inc/lib/fawesome.js"></script>
<script src="/js/tailcombinator.js"></script>
<script src="/js/utils.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.1/dist/echarts.min.js"></script>