<header class="sticky inset-x-0 top-0 bg-black/30 backdrop-blur flex items-center justify-center">
    <div class="flex items-center justify-between gap-2 w-[1000px] py-4">
        <div>
            <a href="/" class="block text-2xl font-black hover:scale-105 hover:text-rose-500 transition flex items-center">
                <div>
                    Opinion
                </div>
                <div class="text-rose-500">
                    8
                </div>
            </a>
        </div>
        <nav class="flex items-center gap-4">
            
            <a href="/">Home</a>
            <% if (typeof user == "undefined") { %>
            <a href="/login">Login</a>
            <a href="/register" class="bg-rose-600 text-black hover:bg-rose-700 hover:text-black px-2 py-1 rounded-lg">Register</a>
            <% } else { %>
                <% if(typeof user.name != "undefined") { %> 
                    <a href="/profile">
                        <i class="far fa-user-circle"></i>
                        <%= user.name %>
                    </a>
                <% } %>
            <a href="/logout">Logout</a>
            <% } %> 
        </nav>
    </div>
</header>
<%- include('messages') %> 

<script>
    tc.c("nav a", "inline-block text-stone-100 hover:text-rose-500 transition font-bold")
</script>