<% if (typeof messages == "undefined") { messages = null;} %>
<% if(messages) { %>
    <script>
        window.addEventListener('load', () => {
            
        
        let preMessages = `<%- JSON.stringify(messages.error) %>`;
        if(preMessages != ''){
            
        preMessages = JSON.parse(preMessages);
        
        preMessages = preMessages.map(message => {
            return { message };
        });
        showMessage(preMessages, 'error');
        }
        preMessages = `<%- JSON.stringify(messages.success) %>`;
        if(preMessages != ''){
        preMessages = JSON.parse(preMessages);
        preMessages = preMessages.map(message => {
            return { message };
        });
            showMessage(preMessages, 'success');
        }
    });
    </script>
<% } %>
     
    <div class="rounded-lg p-4 w-[1000px] inset-x-[calc(50vw-500px)] fixed -bottom-full backdrop-blur transition-all z-[100]" id="message">
        <button class="absolute top-4 right-4" onclick="hideMessage()">
            <i class="far fa-times"></i>
        </button>
        <ul id="message-list">
            <% if(messages && messages.error && messages.error.length> 0) { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
                <li>
                    <%= messages.error[i] %>
                </li>
            <% } %>
            <% } %>
        </ul>
    </div>
